.header {
    width: 100%;
    height: auto; 
    padding: 1.5rem 1rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: absolute;
  }
  
  .logo{
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
    
  }
  
  .header-link {
    display: flex;
    align-items: center;
  }
  
  .select {
    background: transparent;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    color: rgb(242, 245, 248);
    cursor: pointer;
    margin-right: 10px; /* Adjusted margin */
    z-index: 1;
  }
  
  .header-link button {
    background: rgb(233, 41, 41);
    color: aliceblue;
    font-weight: bold;
    height: 40px;
    display: flex;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    z-index: 1; 
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column; 
    }
  
    h1 {
      margin-bottom: 10px; 
    }
  
    .header-link {
      margin-top: 10px; 
      position: static; 
      transform: none; 
    }
  
    select,
    .header-link button {
      width: 100%; /* Full width on smaller screens */
    }
  }
  